/*Developed by liber-dovat: ldovat@fing.edu.uy, matusuy: mosorio@fing.edu.uy*/
/*https://github.com/matusuy/dash-doas-instrument*/
/*v1.0 2022-12-19*/

body {
  background-color: #424242;
  font-family: Sans-Serif;
}

.DashItem {
  width: 30vw;
  height: 30vh;
  /*min-height: 20%;*/
  /*min-width: 20%;*/
  float: left;
  /*display: inline-block*/
  /*display: block;*/
  text-align: center;
  font-size: 2.7vh;
  border-style: solid;
  border-color: black;
  margin: 0.9vh 1.2vw 0.9vh 1.2vw;
  /*margin-top: 0.5%;*/
}

.Instrument {
  /*width: 30vw;*/
  /*height: 30vh;*/
  /*min-height: 20%;*/
  /*min-width: 20%;*/
  /*float: left;*/
  /*display: inline-block*/
  /*display: block;*/
  /*text-align: center;*/
  /*font-size: 1em;*/
  /*font-family: verdana;*/
  /*border-style: solid;*/
  /*border-color: black;*/
  /*margin: 0.9vh 1.2vw 0.9vh 1.2vw;*/
  /*margin-top: 0.5%;*/
}

.DashElement {
  display: inline-block;
  /*font-size: 1em;*/
}

.flex-container {
  width: 100vw;
}

.big_text {
  font-size: 3em;
  margin-top: 3vh;
}

p {
  margin-bottom: 2vh;
  margin-top: 2vh;
}

h2, h4 {
  margin-bottom: 2vh;
}

h4 {
  margin-top: 2vh;
}

.nt {
  text-align: center;
  font-weight: bold;
  font-size: 2vh;
  margin: 0.5vh;
}

.nt2 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.6;
}


.grafica-div {
  padding-bottom: 15px;
}

.grafica-img {
  background-color: #f3f3ff;
  height: 50%;
  width: 50%;
}

.center_table_2{
  text-align: center;
  width: 100%;
}

.center_table_3{
  text-align: center;
  width: 100%;
}

.table_item_2 {
  width: 50%;
}

.table_item_2_3 {
  width: 66%;
}

.table_item_3 {
  width: 33%;
}

.AlertMsg {
  font-size: 0.7em;
  margin-bottom: 1vh;
  margin-top: 1vh;
}

#InstrData, #About {
  color:  white;
  background-color: #cf832e;
  border-color: #cf832e;
}

/*.DashItem {
    flex: 1;
    border: 2px solid yellow;
}  */

/*.DashItem:first-child {
    margin-right: 20px;
} */